header{
    display:flexbox;
    width: 4000px;
    padding-left: 40px;
    background-color: #ffebe6;
    margin-left: 400px;
}
header h1, h2{
    color: gray;
    font-size: 15px;
}
header h2{
    margin-top: -33px;
}
header p{
    color:gray;
    background-color: #ffebe6;
    font-size: 25px;
    padding-left: 1px;
    width: 4000px;
    margin-top: -25px;
}
button{
    display:flex;
    margin-left: 850px;
    margin-top: -30px;
    color:black;
    border-radius: 4px;
    background-color: #ffebe6;
    border: 1px, solid;
    border-color: black;
}
.details p{
    display: flex;
    margin-top: -800px;
    margin-left: 1500px;
    background-color: #ffebe6;
    font-size: 25px;
}
.details h2{
    font-size: 20px;
    display: flex;
    margin-left: 1500px;
}
.info p{
    display: flex;
    font-size: 30px;
    color: orangered;
    width: 1080px;
    margin-left: 444px;
    padding-top: 80px;
}
.publicacoes img{
    display: flex;

}
.info img{
    display: flex;
    margin-left: 450px;
    width: 1000px;
}
.info h1{
    display: flex;
    color: orangered;
    width: 300px;
    margin-left: 1520px;
    font-size: 20px;
    padding-bottom: 90px;
    margin-top: -85px;
}
.resume{
    margin-top: 450px;
    font-size: 25px;
    margin-left: 444px;
    margin-right: 444px; 
}
.resume h1{
   font-size: 20px; 
}
.resume p{
    background-color: #ffebe6;
}
.discussion{
    margin-top: 40px;
    margin-left: 444px;
    margin-right: 444px;
}
.discussion p{
    font-size: 25px;
    background-color: #ffebe6;
}
.discussion label{
    color: orangered;
}
.content{
    margin-top: 20px;
    margin-left: 430px;
    margin-right: 444px;
    color: orangered;
}
.comments p{
    margin-top: 25px;
    margin-left: 430px;
    margin-right: 444px;
    font-size: 25px;
    color: orangered;
}
.comments h1{
    margin-left: 430px;
    margin-right: 444px;
    font-size: 15px;
    color: black;
}
.comments h2{
    margin-left: 430px;
    margin-right: 444px;
    font-size: 20px;
    color: black;
}
footer img{
    padding-top: 30px;
    margin-left: 430px;
    margin-right: 444px;
}
footer h1, h3{
    margin-left: 650px;
    margin-right: 444px;
    font-size: 15px;
    margin-top: -75px;
    margin-bottom: 80px;
}

@media screen and (max-width: 1200px){
    header p, h1, h2{
        width: 1080px;
        margin-left: -140px;
        font-size: 20px;
    }
    header button{
        display: none;
    }
    .info p, h1{
        display:grid;
        width: 1080px;
        font-size: 20px;
        margin-left: -400px;
    }


}

@media screen and (max-width: 768px){
    header p, h1, h2{
        width: 1080px;
        margin-left: -140px;
        font-size: 20px;
    }
    header button{
        display: none;
    }
    .info p, h1{
        display:grid;
        width: 1080px;
        font-size: 20px;
        margin-left: -400px;
    }
}